* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu-container img {
    padding: 10px;
    cursor: pointer;
}
#search-feature{
    display: flex;
    border-radius: 25px;
}
#search-feature input {
        width: 348px;
        border-radius: 25px 0px 0px 25px;
        border: 1px solid #CCCCCC;
        padding-left: 15px;
}
#search-feature img {
    border: 1px solid #CCCCCC;
    border-radius: 0px 25px 25px 0px;
    background: #F8F8F8;
}
#sidebar-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    min-width: 218px;
    padding: 15px 0px;
    
}
#sidebar-container figure div {
    padding: 10px 10px 10px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-radius: 0px 25px 25px 0px;
    font-size: 14px;
    font-weight: 400;
    min-width: 180px;
    cursor: pointer;
}
#sidebar-container figure div:hover {
    background-color: #f3f3f3;

}
#sidebar-container figure img {
    padding-right: 20px;
}
.video-div:hover {
    background-color: #ededed;
    border-radius: 10px;
}
#videos-container article {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, 1fr);
    gap: 30px 20px;
    padding: 20px 30px 0px;
    place-content: flex-start center;
    background: #F8F8F8;
    height: 100vh;
}
.video-div figcaption {
    font-size: 14px;
    font-weight: 600;
}
.channel-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0px 0px;
}
.channel-title img {
    padding-right: 10px;
}
.channel-title div p {
    padding-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #515151;
}
.video-div {
    padding: 10px 10px;
    cursor: pointer;
}
