* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu-container img {
    padding: 10px;
}
#search-feature{
    display: flex;
    border-radius: 25px;
}
#search-feature input {
        width: 348px;
        border-radius: 25px 0px 0px 25px;
        border: 1px solid #CCCCCC;
        padding-left: 15px;
}
#search-feature img {
    border: 1px solid #CCCCCC;
    border-radius: 0px 25px 25px 0px;
    background: #F8F8F8;
    cursor: pointer;
}
#sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    width: 30vh;
    
}
#sidebar-container figure div {
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-radius: 0px 25px 25px 0px;
    font-size: 14px;
    font-weight: 400;
}
#sidebar-container figure div:hover {
    background-color: #f3f3f3;
}
#sidebar-container figure img {
    padding-right: 20px;
}
#videos-container {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, 1fr);
    gap: 40px;
    align-content: center;
    justify-content: center;
    
}

